.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: rgb(52, 50, 211);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(160, 245, 238);
    margin-bottom: 10px;
}